<?xml version="1.0"?>
<launch>
    
    <!-- ===================================================================================== -->
    <!-- |    Lauch file to start Gazebo with an IIWA using various controllers.	         | -->
    
    <!-- |    It allows to customize the name of the robot, for each robot                   | -->
    <!-- |	  its topics will be under a nameespace with the same name as the robot's.       | -->
    
    <!-- |	  One can choose to have a joint trajectory controller or                        | -->
    <!-- |    controllers for the single joints, using the "trajectory" argument.            | -->
    <!-- ===================================================================================== -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="trajectory" default="true"/>
    <arg name="world_name" default="$(find proj_2)/world/iiwa.world"/>

    <arg name="robot_name" default="iiwa" />
    <arg name="model" default="iiwa7"/>
    
    <!-- Select the controller -->
    <arg name="controller" default="JointPositionController"/>

    <!-- Loads the Gazebo world. -->
    <include file="$(find proj_2)/launch/iiwa_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

     <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model iiwa -param robot_description"/>

    <!-- Spawn controller -->
    <rosparam file="$(find proj_2)/config/iiwa_control.yaml" command="load" ns="$(arg robot_name)"/> 
    <include file="$(find proj_2)/launch/iiwa_control.launch">
    </include>


</launch>
